{% extends 'family_list.html' %}
{% block title %}Инфо про {{ family }}{% endblock title %}
{% block main %}
<div class="container theme-showcase" role="main">
        <div class="page-header">
            <h2>Персональные данные</h2>
        </div>
    <div class="row">
        <div class="col-md-12">
<table class="table table-striped">
    <thead>
    <tr><th>{{ family.name }}</th><th>{{ family.surname }}</th><th>{{ family.date_of_birth }}</th>
    <th>{{ family.phone_number }}</th></tr>
    </thead>
  </table>
        </div>
    </div>
</div>
{% endblock main %}